<div class='books-index'>
  <table class='table table-hover table-inverse'>
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size: '50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.body %></td>
        <td>
          <div id="star-rate-<%= book.id %>"></div>
        </td>
        <td id="favorite-btn-<%= book.id %>">
          <%= render 'favorites/favorite-btn', book: book %>
        </td>
        <td><%= "コメント数: #{book.comments.size}" %></td>
        <td><%= "閲覧数: #{book.access_count}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        const books = <%= raw @books.to_json %>;
        books.forEach((book) => {
            $(`#star-rate-${book.id}`).empty();
            raty($(`#star-rate-${book.id}`)[0], {
                starOff: '<%= image_path('star-off.png') %>',
                starOn: '<%= image_path('star-on.png') %>',
                half: false,
                readOnly: true,
                score: book.star || 0,
            });
        });
    });
</script>
