<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render 'application/search' %>
      <h2>Books</h2>
      <%= link_to('新しい順番', books_path(order: 'created_at_desc')) %>
      &nbsp;|&nbsp;
      <%= link_to('評価の高い順', books_path(order: 'star_desc')) %>
      <%= render 'index', books: @books %>

      <h2>投稿数の前日比・前週比</h2>
      <table class="table mb-3">
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
        <tr>
          <% today_count = @books.within_created_at(Time.zone.now.beginning_of_day, Time.zone.now.end_of_day).size %>
          <% yesterday_count = @books.within_created_at(1.day.ago.beginning_of_day, 1.day.ago.end_of_day).size %>
          <% div_result = today_count.to_f / (yesterday_count.zero? ? 1.0 : yesterday_count.to_f) %>
          <td><%= today_count %></td>
          <td><%= yesterday_count %></td>
          <td><%= sprintf("%.0f", div_result * 100) %>%</td>
        </tr>
      </table>
      <table class="table mb-3">
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <% this_week_count = @books.within_created_at(Time.zone.now.beginning_of_week, Time.zone.now.end_of_week).size %>
          <% last_week_count = @books.within_created_at(1.week.ago.beginning_of_week, 1.week.ago.end_of_week).size %>
          <% div_result = this_week_count.to_f / (last_week_count.zero? ? 1.0 : last_week_count.to_f) %>
          <td><%= this_week_count %></td>
          <td><%= last_week_count %></td>
          <td><%= sprintf("%.0f", div_result * 100) %>%</td>
        </tr>
      </table>

      <h2>7日分の投稿数</h2>
      <table class="table mb-3">
        <tr>
          <% @date_count.keys.each do |date| %>
            <th><%= date %></th>
          <% end %>
        </tr>
        <tr>
          <% @date_count.values.each do |count| %>
            <td><%= count %></td>
          <% end %>
        </tr>
      </table>
      <canvas id="date-count-chart" class="mt-5 mb-5"></canvas>
      <div class="date-search">
        <%= form_with model: Book.new, url: date_count_books_path, method: :get, local: false do |f| %>
          <%= f.date_field :created_at %>
          <%= f.submit '検索', class: 'btn btn-primary' %>
        <% end %>
        <div id="book-date-count"></div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        const ctx = document.getElementById('date-count-chart');
        if (window.dataCountChart)
            window.dataCountChart.destroy();

        window.dataCountChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%= raw @date_count.keys %>,
                datasets: [{
                    label: '投稿したほんの数',
                    data: <%= @date_count.values %>,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
