<div class="d-flex mb-3">
  <%= form_with url: searches_path, method: :get, local: true, class: 'mx-3' do |f| %>
    <%= f.text_field :keyword %>
    <%= f.select(:model_name, [['User', 'User'], ['Book', 'Book']]) %>
    <%= f.select(:matching_kind, Search.all.pluck(:name, :id)) %>
    <%= f.submit "検索" %>
  <% end %>

  <%= form_with url: book_tags_searches_path, method: :get, local: true, class: 'mx-3' do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "タグ検索" %>
  <% end %>
</div>
